html{
    font-size: 50px;
}

#mobileHeader{
    flex:1;
    background:#f6f6f6
}

#mobileHeader header{
    padding-left: 10px;
    border-bottom: 1px solid #2bb7f5;
}

#mobileHeader header img{
    height:50px;
}

#mobileHeader header span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: #2bb7f5;
}